*.obj
*.ilk
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.pdb
*.manifest
*.htm
*.ncb
*.user
*.xml
*.pch
*.dep
*.idb
*.cache
*.lib
*.dll
*.exp
*.exe
*.aps
*.opt
*.clw
*.XML
*.suo
*.plg

#detours files
Detours/Detours/

#Debug catalog 
[Dd]ebug*/
[Bb]in*/
[Oo]bj*/
[Rr]elease*/

[Cc]lamwin*/

#But allow
!*.sh
!libclamavd.dll
!libclamavd.pdb
!libclamavd.lib

!libclamav.dll
!libclamav.pdb
!libclamav.lib

!stlportd.5.2.dll
!stlportd.5.2.pdb
!stlportd.5.2.lib

!stlport.5.2.dll
!stlport.5.2.pdb
!stlport.5.2.lib

!LibClamAV*/