*.obj
*.ilk
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.pdb
*.manifest
*.htm
*.ncb
*.user
*.xml
*.pch
*.dep
*.idb
*.cache
*.lib
*.dll
*.exp
*.exe
*.aps
*.opt
*.clw
*.XML
*.suo

#detours files
Detours/Detours/
/EasyHookFileMonitor/UpgradeLog.XML

#Debug catalog 
[Dd]ebug*/
[Bb]in*/
[Oo]bj*/
[Rr]elease*/